header {
    /* change to proper clear */
    overflow: hidden;
    background: green;
}

.hd-logo_text {
    width: 50%;
    float: left;
    text-align: center;
    position: absolute;
    top: 2rem;
}

.hd-logo_h1 {
    font-size: 2rem;
}