$headerHeight: 100%;
$headerTop: 10px;

header {
    lost-column: 1;
    lost-utility: clearfix;
    height: $headerHeight;
    position: relative;
    top: $headerTop;
}

.hd-logo_text {
    lost-column: 1/2;
    text-align: center;
}

.hd-logo_h1 {
    font-size: 3em;
}