$headerHeight: 7rem;
$headerTop: 10px;
$headerLogo: 5em;

header {
    lost-column: 1;
    lost-utility: clearfix;
    height: $headerHeight;
    position: relative;
    top: $headerTop;
}

.hd-logo_text {
    position: absolute;
    lost-column: 1/2;
    top: calc($headerHeight / 6.5);
    text-align: center;
}

.hd-logo_h1 {
    font-size: $headerLogo;
}