$contentTop: 8rem;
$mainFont: 'Rubik', sans-serif;
$blackbeeColor: #ffb400;

main {
    margin-top: 50px;
    max-width: 900px;
    margin: 0 auto;
    & h1 {
          padding: .5em;
          text-align: left;
          font-size: 2em;
          margin: 0;
          text-transform: uppercase;
          font-family: Rubik;
          color: black;
    }
    & p {
          font-size: calc(1vw + 1vh + 2vmin);
          font-family: Quicksand;
          padding: .5em;
    }
    & .schedule-appointment {
          height: 300px;
          margin-top: 30px;
          margin-bottom: 30px;
          background: #008080;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
        & h1 {
              text-align: center;
              font-size: 2em;
              margin-top: 30px;
              color: white;
              margin-bottom: 30px;
              font-family: Lora;
        }
        & a {
              padding: 20px;
              border: 1px solid white;
              border-radius: 5px;
              margin-top: 30px;
              font-size: 16px;
              font-family: 'Josefin Sans', sans-serif;
              text-decoration: none;
              color: white;
        }
    }
    & .trip-pools {
          display: flex;
          justify-content: space-around;
          margin-bottom: 40px;
        & h1 {
              color: white;
              border: 1px solid #65deaa;
              background: #65deaa;
              text-transform: uppercase;
              font-family: 'Josefin Sans', sans-serif;
              padding: 15px;
              text-align: center;
              margin-bottom: 10px
        }
        & img {
              padding: 5px;
              border: 1px solid black;
          }
      }
}