$contentTop: 8rem;
$mainFont: 'Rubik', sans-serif;
$blackbeeColor: #ffb400;

main {
    margin-top: 50px;
    max-width: 900px;
    margin: 0 auto;
    & h1 {
          padding: .5em;
          text-align: left;
          font-size: 2em;
          margin: 0;
          text-transform: uppercase;
          font-family: Rubik;
          color: black;
    }
    & p {
          font-size: calc(1vw + 1vh + 2vmin);
          font-family: Quicksand;
          padding: .5em;
    }
}