/*******NAVIGATION **********/
/* change name to classes */
/* perhaps don't use floats */
$navHeight: 150px;
$navHeight: 100%;
$navBorderColor: black;

nav {
    lost-column: 1/2;
    height: $navHeight;
}

nav ul {
    display: flex;
    height: $navHeight;
    justify-content: space-between;
}

nav li {
    display: inline-block;
    border: 2px solid $navBorderColor;
    padding: 1em;
    line-height: 50px;
    font-size: 1.4em;
}